#Ignore Visual Studio Folder
.vs/

# Ignore build directories
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj

# Ignore user-specific project settings
*.user
*.rsuser
*.suo

# Ignore build logs and database
*.log
*.tlog
*.lastbuildstate
*.VC.db

# Ignore the imgui.ini file if it shouldn't be shared
imgui.ini